<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <title>Document</title>
    <link rel="stylesheet" href="/style/site.css">
</head>
<body>

    <header>
        <ul>
            <a href="/">Home</a>
            <a href="/user/register">Register</a>
            <a href="/user/login">Login</a>
        </ul>
    </header>

    {{{body}}}

    <footer>
        <ul>
            <li class="link">wwwww</li>
            <li class="link">qqqqqqqq</li>
            <li class="link">hhhhhhhh</li>
        </ul>
    </footer>
    
</body>

 
</html>